#hd-container {
    background-color: #132E32;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}

#hd-logo {
    color: white;
}

#hd-search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hd-input {
    width: 540px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    border: none;
}

#hd-button {
    height: 32px;
    width: 60px;
    background-color: #53A2BE;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}